
.body-container{
    text-align: center;
    margin: 50px;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 50px;
    color: rgb(179, 64, 224);
    text-shadow: 0 0 3px #1eff00, 0 0 5px #ff0000;
}

.form-container-group{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid rgb(0, 255, 255);
    background-color: #071d35;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 20px;
    
}

#Eng, #Maths, #Hindi, #Science, #Social-Studies{
    width: 450px;
    height: 27px;
    background-color: #e2e2e2;
    text-align: center;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 20px;
}

.app-form-group{
    font-size: 25px;
    color: rgb(229, 255, 0);
    font-weight: 900;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.form-container-group-button{
    margin: 20px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.form-container-group-button:hover{
    background-color: #3e8e41;
    
}

.form-container-group-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }